<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>svenandersson.se</title>
        <link rel="stylesheet" href="/static/css/normalize.css">
        <link rel="stylesheet" href="/static/css/third.css">
        <link rel="stylesheet" href="/static/css/syntax.css">
        <link href="https://fonts.googleapis.com/css?family=Abel|Rubik:300|Inconsolata" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/academicons.css"/>

        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-24416577-1']);
            _gaq.push(['_setDomainName', 'svenandersson.se']);
            _gaq.push(['_setAllowHash', 'false']);
            _gaq.push(['_trackPageview']);

            (function() {
              var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
              ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
      </script>
      <script src="/static/js/jquery.min.js"></script>
      <script src="/static/js/third.js"></script>
      {% include seo_head.html %}
    </head>
    <body{% if page.grand %} class = "grand"{% endif %}>
        <header>
            <nav>
                <a href="/" class="current">about + projects</a>
                <a href="/posts">posts</a>
                <a href="/cv.html">resume</a>
                <a href="mailto:yangyang.nuist@gmail.com" class="collapsed collapsed-left"><i class="fa fa-envelope-square"> </i></a>
<!--                 <a href="https://www.researchgate.net/profile/Yang_Yang48" class="collapsed"><i class="fa fa-graduation-cap"> </i></a> -->
<a href="https://www.researchgate.net/profile/Yang_Yang48" class="collapsed"><i class="ai ai-researchgate-square ai-6x"> </i></a>
                <a href="https://github.com/yangyangoceanographer" class="collapsed collapsed-right""><i class="fa fa-github"> </i></a>
            </nav>
        </header>
        <div id="wrap" class="blog">
            <div id="content">
        {{ content }}
            </div>

        </div>
        <footer>

        </footer>
    </body>

</html>
